@font-face {
    font-family: "FontsFree";
    font-style: normal;
    font-weight: 400;
      src: local("FontsFree"),
           url("../fonts/FontsFree-Net-SFProDisplay-Regular.woff2") format("woff2"),
           url("../fonts/FontsFree-Net-SFProDisplay-Regular.woff") format("woff");
}
@font-face {
    font-family: "Montserrat-Regular";
    font-style: normal;
    font-weight: 400;
      src: local("Montserrat Regular"),
           url("../fonts/Montserrat-Regular.woff2") format("woff2"),
           url("../fonts/kaushanscript.woff") format("woff");
}
@font-face {
    font-family: "Montserrat-Medium";
    font-style: normal;
    font-weight: 500;
      src: local("Montserrat Medium"),
           url("../fonts/Montserrat-Medium.woff2") format("woff2"),
           url("../fonts/Montserrat-Medium.woff") format("woff");
}
@font-face {
    font-family: "Montserrat-SemiBold";
    font-style: normal;
    font-weight: 600;
      src: local("Montserrat SemiBold"),
           url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
           url("../fonts/Montserrat-SemiBold.woff") format("woff");
}
@font-face {
    font-family: "Montserrat-Bold";
    font-style: normal;
    font-weight: 700;
      src: local("Montserrat Bold"),
           url("../fonts/Montserrat-Bold.woff2") format("woff2"),
           url("../fonts/Montserrat-Bold.woff") format("woff");
}
@font-face {
    font-family: "Montserrat-ExtraBold";
    font-style: normal;
    font-weight: 800;
      src: local("Montserrat ExtraBold"),
           url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
           url("../fonts/Montserrat-ExtraBold.woff") format("woff");
}
@font-face {
    font-family: "Inter-Light";
    font-style: normal;
    font-weight: 300;
      src: local("Inter Light"),
           url("../fonts/Inter-Light.woff2") format("woff2"),
           url("../fonts/Inter-Light.woff") format("woff");
}
@font-face {
    font-family: "Inter-Regular";
    font-style: normal;
    font-weight: 400;
      src: local("Inter Regular"),
           url("../fonts/Inter-Regular.woff2") format("woff2"),
           url("../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
    font-family: "Inter-ExtraBold";
    font-style: normal;
    font-weight: 800;
      src: local("Inter ExtraBold"),
           url("../fonts/Inter-ExtraBold.woff2") format("woff2"),
           url("../fonts/Inter-ExtraBold.woff2") format("woff");
}
body {
  font-family: "Montserrat-Regular";
  color: #FFFFFF;
}
.overflow {
  overflow: hidden;
}
header {
  position: fixed;
  max-width: 100%;
  top: 32px;
  left: 88px;
  right: 88px;
  padding: 16px 16px 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(54, 55, 50, 0.5);
  backdrop-filter: blur(25px);
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 100;
}
.containerContact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}
.headerSocialNetworks {
  display: flex;
  align-items: center;
}
.headerSocialNetworks a {
  width: 35px;
  height: 35px;
  background: #FAE996;
  border-radius: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerSocialNetworks a:nth-of-type(1) {
  margin-right: 16px;
}
.headerTel a{
  font-family: "Montserrat-Medium";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}
.headerBtn {
  background: #F7DB50;
  border-radius: 10px;
  height: 56px;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.75));
  font-family: "Montserrat-Medium";
  padding: 18px 16px;
  font-size: 16px;
  line-height: 20px;
  color: #292929;
  display: flex;
  align-items: center;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}
.headerBtn svg {
  margin-right: 8px;
}
.logotype {
  display: flex;
  align-items: center;
}
.logotype p {
  max-width: 243px;
  margin-left: 30px;
  font-family: "Montserrat-Regular";
  font-size: 14px;
  line-height: 130%;
  color: #ABB5BE;
}
.mapsRight img {
  min-width: 130%;
}
h1 {
  font-family: "Montserrat-Bold";
  font-size: 48px;
  line-height: 120%;
  opacity: 0.9;
  margin-bottom: 16px;
}
h1 span {
  display: block;
  font-family: "Montserrat-Regular";
  font-size: 36px;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.banner {
  background: url(../img/Banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 226px 88px 123px 88px;
  box-sizing: border-box;
}
.bannerContainer {
  max-width: 691px;
}
.bannerContainer p {
  font-family: "Montserrat-Medium";
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.9);
  opacity: 0.9;
  margin-bottom: 32px;
}
.bannerContainer p b {
  color: #F7DB50 !important;
  font-family: "Montserrat-Medium";
  font-size: 18px;
  line-height: 120%;
}
.btnRequest {
  background: #F7DB50;
  border-radius: 10px;
  padding: 18px 16px;
  font-family: "Montserrat-Medium";
  font-size: 16px;
  line-height: 20px;
  color: #292929;
  display: flex;
  align-items: center;
  border: none;
}
.btnRequest svg {
  margin-right: 8px;
}
.reviewsSlider {
  position: relative;
}
.reviewsSlider .slick-prev.slick-arrow{
  background: #F7DB50;
  z-index: 20;
  left: 43%;
  top: auto;
  bottom: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.75));
   display: flex;
  align-items: center;
  justify-content: center;
}
.reviewsSlider .slick-next.slick-arrow{
  background: #F7DB50;
  z-index: 20;
  left: 50%;
  top: auto;
  bottom: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.75));
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviewsSlider .slick-prev.slick-arrow::before {
  content: "";
  background: url(../img/Polygon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: flex;
}
.reviewsSlider .slick-next.slick-arrow::before {
  content: "";
  background: url(../img/Polygon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  width: 30px;
  height: 30px;
  display: flex;
}
/*Benefits-------------------------*/
.benefits {
  background: #84B24E;
  backdrop-filter: blur(10px);
  display: flex;
}
.benefitsContainer {
  height: 183px;
  width: 25%;
  border-right: 1px solid #A1C476;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.benefitsContainer:hover {
  background: #F7DB50;
}
.menuSliderContainer:hover {
  box-shadow: 0px 0px 10px #F7DB50;
}
.fadeContainer:hover {
  box-shadow: 0px 0px 10px #F7DB50;
}
.benefitsContainer svg {
  min-height: 54px;
}
.benefitsContainer:nth-of-type(4) {
  border-right: 0;
}
.benefitsContainer p {
  font-family: "Montserrat-Regular";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #292929;
  margin-top: 21px;
}
.packageFooterContent p:nth-of-type(1) {
  margin-bottom: 8px;
}
/*Delicious-------------------------*/ 
main {
  background: url(../img/mainBackground.png), #393A35;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.delicious {
  padding: 144px 88px 300px 88px;
  max-width: 1265px;
  margin: 0 auto;
}
.deliciousContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 512px;
}
.deliciousContainerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
}
.deliciousContainerLeft,
.deliciousContainerRight {
  width: 25%;
}
.deliciousContainerCenter {
  position: absolute;
  top: 50%;  
  left: 40%; 
  transform: translate(-40%, -50%);
}
.deliciousContainer h2 {
  margin-bottom: 130px;
}
.deliciousContainerCenter img{
  max-width: 110%;
}
.deliciousContainer h2 {
  font-family: "Montserrat-SemiBold";
  font-size: 36px;
  line-height: 130%;
  color: #FFFFFF;
}
.deliciousContainer h2 span {
  font-family: "Montserrat-SemiBold";
  font-size: 36px;
  line-height: 130%;
  color: #84B24E;
}
.deliciousContainerLeft,
.deliciousContainerRight {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deliciousContainerLeft svg,
.deliciousContainerRight svg {
  margin-bottom: 28px;
}
.deliciousContainerLeft p,
.deliciousContainerRight p {
  text-align: center;
  font-family: "Montserrat-Regular";
  font-size: 18px;
  line-height: 170%;
  color: #FFFFFF;
  min-height: 300px;
}
.deliciousContainerLeft p span:nth-of-type(1) {
  font-family: "Montserrat-Bold";
}
.deliciousContainerLeft p span:nth-of-type(2) {
  font-family: "Montserrat-Bold";
  font-size: 18px;
  color: #84B24E;
}
.deliciousContainerRight p span{
  font-family: "Montserrat-Bold";
  font-size: 18px;
  color: #84B24E;
}
/*Maps-------------------------*/  
.maps {
  background: url(../img/Maps.png), #292929;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 400px;
  padding: 77px 88px;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1265px;
  margin: 0 auto;
}
.mapsLeft {
  max-width: 434px;
}
.mapsLeft h3 {
  font-family: "Montserrat-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.mapsLeft p {
  display: flex;
  align-items: center;
  font-family: "Montserrat-Regular";
  font-size: 18px;
  line-height: 170%;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.mapsLeft p svg {
  margin-right: 16px;
}
.mapsLeft p:nth-of-type(3) {
  margin-bottom: 32px;
}
.mapsBtn {
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.75));
  background: #F7DB50;
  border-radius: 10px;
  padding: 16px;
  font-family: "Montserrat-Medium";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #292929;
  display: flex;
  align-items: center;
  border: none;
}
.mapsBtn svg {
  margin-right: 10px;
}
.mapsImg {
  display: none;
}
/*Business Model----------------*/
.businessModelBackground {
  background: url(../img/Art2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
.packageBackground {
  background: url(../img/Art1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-blend-mode: luminosity;
}
.businessModel {
  padding: 125px 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1265px;
  margin: 0 auto;
}
.businessModelTittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-bottom: 64px;
}
.businessModelTittle h3 {
  font-family: "Montserrat-SemiBold";
    font-style: normal;
    font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.businessModel .businessModelTittle p:nth-of-type(2) {
  margin-top: 32px;
}
.businessModelTittle p:nth-of-type(1) {
  font-family: "Montserrat-Regular";
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  color: #84B24E;
  opacity: 0.9;
  margin-bottom: 0;
}
.businessModelTittle p:nth-of-type(2) {
  font-family: "Montserrat-Regular";
  font-size: 18px;
  line-height: 170%;
  text-align: center;
  color: #FFFFFF;
}
.fade {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.businessModelContainer {
  width: 100%;
  max-width: 100%;
  margin-top: 64px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.businessModelContainerLeft h3 {
  margin-bottom: 32px;
}
.businessModelContainerLeft {
  font-family: "Montserrat-SemiBold";
  font-size: 32px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
  width: 50%;
}

.businessModelContainerRight h3 {
  font-family: "Montserrat-SemiBold";
    font-style: normal;
    font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.fadeContainer {
  background: #424242;
  border-radius: 10px;
  max-width: 49%;
  min-width: 49%;
  min-height: 675px;
}
.fadeContainerImg {
  background: #F7DB50;
  border-radius: 10px 10px 0 0;
  margin-bottom: 24px;
}
.fadeContainerImg img {
  max-width: 100%;
}
.fadeContainerText {
  padding: 0px 16px;
}
h6 {
  font-family: "Montserrat-SemiBold";
  font-size: 22px;
  line-height: 120%;
  color: #F7DB50;
  margin-bottom: 16px;
}
.fadeContainerText p:nth-of-type(1) {
  font-family: "Montserrat-Regular";
  font-size: 18px;
  line-height: 170%;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.fadeContainerText p:nth-of-type(2) {
  font-family: "Montserrat-Bold";
  font-size: 18px;
  line-height: 170%;
  color: #F7DB50;
  margin-bottom: 16px;
} 
.fadeContainerText ul li span {
  font-family: "Montserrat-Medium";
  font-size: 12px;
  line-height: 100%;
  color: #292929;
  min-width: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F7DB50;
  border-radius: 35px;
  padding: 4px 0;
  margin-right: 8px;
}
.fadeContainerText ul li {
  font-family: "Montserrat-Regular";
  font-size: 14px;
  line-height: 170%;
  color: #FFFFFF;
  display: flex;
  margin-bottom: 12px;
}
.fadeContainerText ul li::before {
  content: "";
  background: url(../img/arrow-right-short.svg);
  display: flex;
  width: 24px;
  height: 24px;
  margin-right: 14px;
}
.menuSliderContainer {
  display: flex;
  min-width: 547px;
  max-width: 547px;
  height: 214px;
  background: #424242;
  border-radius: 10px;
  margin-bottom: 16px;
}
.menuSliderContainer img {
  max-width: 214px;
  border-radius: 10px 0 0 10px;
}
.menuContainer {
  box-sizing: border-box;
  padding: 16px 32px;
}
.menuSlider {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.menuContainer p:nth-of-type(1) {
  font-family: "Montserrat-Medium";
  font-size: 12px;
  line-height: 100%;
  color: #292929;
  background: #F7DB50;
  border-radius: 35px;
  padding: 4px 7px;
  margin-bottom: 32px;
  width: max-content;
}
.menuContainer h5 {
  font-family: "Montserrat-Bold";
  font-size: 22px;
  line-height: 120%;
  color: #F7DB50;
}
.menuContainer p:nth-of-type(2) {
  font-family: "Montserrat-Regular";
  font-size: 18px;
  line-height: 170%;
  color: #FFFFFF;
}
.reviews {
  margin-top: 130px;
  overflow: hidden;
  padding-bottom: 104px;
}
.reviews .businessModelTittle {
  width: 100%;
  margin-bottom: 65px;
}
.reviewsSlider .slick-list{
  margin: 0 8px;
}
.reviewsSlider {
  max-width: 1353px;
  margin-left: auto;
  overflow: hidden;
  padding-bottom: 100px;
}
.reviewsContainer {
  width: 322px;
  height: 527px;
  position: relative;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.reviewsContainer p {
  max-height: 185px;
  min-width: 185px;
  overflow: hidden;
}
.reviewsContainer > img {
  max-width: 90%;
  height: 432px;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.reviewsContent {
  max-width: 322px;
  height: 360px;
  background: rgba(66, 66, 66, 0.95);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 16px 24px 16px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reviewsContent p {
  font-family: "Montserrat-Regular";
  font-size: 18px;
  line-height: 170%;
  color: #FFFFFF;
}
.avatar {
  margin-bottom: 16px;
}
.reviewsContact p {
  font-family: "Montserrat-Bold";
  font-size: 18px;
  line-height: 170%;
  color: #F7DB50;
}
.reviewsContainer:hover > img{
  z-index: 50;
  cursor: pointer;
  transform: scale(1.1);
  bottom: 60px;
}
.reviewsFooter {
  max-width: 1265px;
  margin: 0 auto;
  text-align: right;
  font-family: "Montserrat-Regular";
  font-size: 18px;
  line-height: 170%;
  color: #FFFFFF;
  padding-right: 88px;
  box-sizing: border-box;
}
.reviewsFooter a {
  color: #84B24E;
  font-family: "Montserrat-Bold";
  text-decoration: none;
}
.form {
  max-width: 1500px;
  margin: 0 auto;
  padding: 64px 0;
  background: #292929;
}
form input {
  max-width: 245px;
  min-width: 245px;
  height: 56px;
  border-radius: 10px;
  background: #FFFFFF;
  border: 1px solid #ABB5BE;
  padding-left: 12px;
  font-family: "Inter-Regular";
  font-size: 16px;
  line-height: 21px;
  color: #ABB5BE;
}
.formWrapper .businessModelTittle{
  width: 100%;
}
input::placeholder {
  font-family: "Inter-Regular";
  font-size: 16px;
  line-height: 21px;
  color: #ABB5BE;
}
.formWrapper {
  max-width: 1265px;
  margin: 0 auto;
}
form {
  margin-top: 64px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.submit {
  max-width: 155px;
  min-width: 155px;
  height: 56px;
  background: #F7DB50;
  border-radius: 10px;
  border: none;
  padding-left: 0;
  color: #000;
  padding-right: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit::before {
  content: "";
  background: url(../img/arrow-right-circle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  display: flex;
  margin-right: 10px;
}
.package {
  margin-top: 210px;
  max-width: 1265px;
  margin: 210px auto 0 auto;
}
.package .businessModelTittle {
  width: 100%;
}
.packageContainer {
  display: flex;
  margin-top: 64px;
  justify-content: space-between;

}
.packageCenter {
  margin-right: 16px;
  margin-left: 16px;
}
.packageContainerCenter {
  display: flex;
}
.packageContainerLeft img:nth-of-type(2), 
.packageContainerRight img:nth-of-type(2) {
  border-radius: 10px;
}
.packageCenterTop {
  margin-bottom: 16px;
}
.packageCenterTop,
.packageCenterBottom {
  max-width: 322px;
  min-width: 322px;
  height: 250px;
  background: rgba(31, 31, 31, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px -2px 4px rgba(132, 178, 78, 0.5), inset 0px 2px 4px #000000;
  backdrop-filter: blur(7.5px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  text-align: center;
  box-sizing: border-box;
}
.packageCenterTop svg,
.packageCenterBottom svg {
  margin-bottom: 15px;
}
.packageCenterTop p,
.packageCenterBottom p{
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  color: #FFFFFF;
}
.packageCenter:nth-of-type(1) {
  margin-right: 0;
}
.mobileImg {
  display: none;
}
.packageFooter {
  margin-top: 16px;
  width: 100%;
  background: #292929;
  border-radius: 10px;
  padding: 20px 64px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.packageFooterContent p:nth-of-type(1){
  font-family: "Montserrat-Regular";
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  color: #84B24E;
  opacity: 0.9;
}
.packageFooterContent p:nth-of-type(2){
  font-family: "Montserrat-Regular";
  font-size: 18px;
  line-height: 170%;
  color: #FFFFFF;
}
.businessModelTittle h3 {
  text-align: center;
}
.packageBtn {
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.75));
  background: #F7DB50;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-Medium";
  font-size: 16px;
  line-height: 20px;
  color: #292929;
  padding: 18px 0;
  border: none;
  width: 30%;
}
.packageBtn svg {
  margin-right: 8px;
}
.cashInvestments .businessModelTittle {
  width: 100%;
}
.cashInvestments .businessModelTittle h3 {
  font-family: "Montserrat-SemiBold" !important;
  font-weight: 600 !important;
}
.cashInvestments {
  max-width: 1265px;
  margin: 140px auto 0 auto;
}
.cashInvestmentsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.cashInvestmentsLeft {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cashContainer {
  max-width: 32%;
  width: 32%;
  margin-bottom: 15px;
  background-blend-mode: multiply;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.cashContainerTop {
  position: relative;
}
.cashInvestmentsRight {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.cashInvestmentsRight p{
  font-family: "Montserrat-Bold";
  font-size: 55px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.cashInvestmentsRight button{
  background: #F7DB50;
  border-radius: 10px;
  padding: 18px 25px;
  font-family: "Montserrat-Medium";
  font-size: 16px;
  line-height: 20px;
  color: #292929;
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.75));
  border: none;
}
.cashInvestmentsRight button svg {
  margin-right: 12px;
}
.cashContainerTop button {
  position: absolute;
  top: 20px;
  right: 12px;
  font-family: "Montserrat-Regular";
  font-size: 18px;
  line-height: 170%;
  text-align: center;
  color: #FFFFFF;
  padding: 8px;
  background: #84B24E;
  border-radius: 4px;
  border: none;
}
.cashContainerTop img {
  max-width: 100%;
  min-width: 100%;
}
.cashContainer p {
  font-family: "Montserrat-Medium";
  font-size: 18px;
  line-height: 170%;
  color: #FFFFFF;
  padding: 16px 8px;
  text-align: center;
  border-top: 3px solid #84B24E;
  background: #292929;
}
footer {
  background: url(../img/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 55px 88px 74px 88px;
  width: 100%;
  box-sizing: border-box;
  max-height: 590px;

}
footer h2 {
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 64px;
}
main {
  padding-bottom: 100px;
}
.footerContainerLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer h2 {
  font-size: 24px;
}
.footerContainerLeft p {
  font-size: 16px !important;
}
.footerContainerLeft a:nth-of-type(1) {
  font-size: 24px !important;
}
.footerContainerLeft a:nth-of-type(2) {
  font-size: 16px !important;
}
.footerContainerRight p {
  font-size: 16px !important;
}
.footerBotom img {
  max-width: 45%;
}
.cashInvestmentsRight button {
  font-size: 14px;
}
.footerContainerLeft p {
  font-family: "Montserrat-Regular";
  font-size: 18px;
  line-height: 170%;
  color: #FFFFFF;
  width: 90%;
  margin-bottom: 32px;
  text-align: center;
}
.footerContainerLeft a:nth-of-type(1) {
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 8px;
}
.footerContainerLeft a:nth-of-type(2) {
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
  font-size: 18px;
  line-height: 170%;
  color: #FFFFFF;
  text-decoration: none;
}
.footerContainerRight p {
  font-family: "Montserrat-Regular";
  font-size: 18px;
  line-height: 170%;
  color: #FFFFFF;
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}
.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerContainerRight {
  display: flex;
  flex-direction: column;
}
.footerForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0 !important;
}
.footerForm input {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 16px;
  box-sizing: border-box;
}
.footerForm .submit{
  min-width: 100%;
  max-width: 100%;
}
.footerContainerLeft {
  width: 30%;
}
.footerContainerRight {
  width: 25%;
}
.footerBotom {
  background: #000000;
  display: flex;
  padding: 10px 0 15px 90px;
  align-items: center;
}
.footerBotom p {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 170%;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 22px;
}
.footerBotom img {
  margin-bottom: -10px;
}
.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  opacity: 0; 
  pointer-events: none; 
  transition: 0.5s all;
  z-index: 101;
}
.popup__bg.active { 
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}
.popupForm {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 620px;
}
.popupForm input{
  min-width: 301px;
  max-width: 301px;
  height: 56px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
}
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: url(../img/Art1.png), #424242; 
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  background-size: cover;
  background-position-x: 0;
  background-position-y: 175px;
  width: 746px;
  height: max-content;
  padding: 64px;
  box-sizing: border-box;
  transition: 0.5s all;
}
.popupContent {
  text-align: center;
}
.poppupTittle {
  font-family: "Montserrat-SemiBold";
  font-size: 36px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.popupContent p:nth-of-type(2) {
  font-family: "Montserrat-Regular";
  font-size: 18px;
  line-height: 170%;
  color: #FFFFFF;
  margin-bottom: 43px;
}
.popup.active { 
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}
.close-popup {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
}
.close-popup path {
  fill: #fff;
}
.popupForm .popupSubmit {
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.75));
  border: none;
  padding: 16px;
  background: #F7DB50;
  border-radius: 10px;
  font-family: "Montserrat-Medium";
  font-size: 16px;
  line-height: 20px;
  color: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: max-content !important;
  max-width: max-content !important;
  padding-left: 60px;
}
.inputBtn {
  position: relative;
  margin: 30px auto 0 auto;
}
.inputBtn svg{
 position: absolute;
 top: 16px;
 left: 25px;
 z-index: 101;
}
@media (max-width: 1920px) {
.delicious {
  max-width: 1500px;
  min-width: 1500px;
  box-sizing: border-box;
}
.maps {
  max-width: 1500px;
  min-width: 1500px;
  box-sizing: border-box;
  min-height: 500px;
}
.deliciousContainer {
  padding-left: 38px;
  padding-right: 38px;
}
.businessModel {
  max-width: 1500px;
  min-width: 1500px;
  box-sizing: border-box;
  padding-left: 88px;
  padding-right: 88px;
  padding-bottom: 0;
}
.form {
  max-width: 1500px;
  min-width: 1500px;
  box-sizing: border-box;
  padding-left: 88px;
  padding-right: 88px;
}
.formWrapper {
  max-width: 100%;
}
.reviewsSlider {
  max-width: 1675px;
  min-width: 1675px;
  box-sizing: border-box;
}
.reviewsContainer {
  margin-right: 16px;
}
.reviewsContent {
  min-width: 322px;
}
.package {
  max-width: 1500px;
  min-width: 1500px;
  box-sizing: border-box;
  padding-left: 88px;
  padding-right: 88px;
}
.cashInvestments {
  max-width: 1500px;
  min-width: 1500px;
  box-sizing: border-box;
  padding-left: 88px;
  padding-right: 88px;
}
.cashInvestmentsLeft {
  width: 67%;
}
}
@media (max-width: 1600px) {
  .reviewsSlider {
    max-width: 90%;
    min-width: 90%;
    box-sizing: border-box;
  }
  .delicious {
    max-width: 100%;
    min-width: 100%;
  }
  .maps {
    max-width: 100%;
    min-width: 100%;
  }
  .businessModel {
    max-width: 100%;
    min-width: 100%;
  }
  .form {
    max-width: 100%;
    min-width: 100%;
  }
  .fadeContainer {
    max-width: 48%;
    min-width: 48%;
  }
  .menuSliderContainer {
    max-width: 500px;
    min-width: 500px;
  }
  .reviewsContent {
    min-width: 285px;
  }
  .package {
    max-width: 100%;
    min-width: 100%;
  }
  .cashInvestments {
    max-width: 100%;
    min-width: 100%;
  }
  .containerContact {
    width: 45%;
  }
}
@media (max-width: 1500px) {
.packageCenterTop, 
.packageCenterBottom {
  max-width: 100%;
  min-width: 100%;
}
.packageCenterTop p, 
.packageCenterBottom p{
 font-size: 14px;
}
}
@media (max-width: 1400px) {
.form input {
  max-width: 50%;
  min-width: 50%;
  box-sizing: border-box;
}
.cashContainer p {
  min-height: 65px;
}
.formWrapper form {
  flex-direction: column;
}
.formWrapper form input {
  margin-bottom: 16px;
}
.submit {
  min-width: 50%;
  max-width: 50%;
}
}
@media (max-width: 1300px) {
  form {
    flex-direction: column;
  }
  .deliciousContainer {
    height: 100%;
  }
  form input {
    min-width: 50%;
    max-width: 50%;
    margin-bottom: 16px;
  }
  .cashInvestmentsContainer {
    flex-direction: column;
  }
  .cashInvestmentsLeft {
    width: 90%;
  }
  .cashInvestmentsRight {
    width: 90%;
    margin-top: 50px;
  }
.banner {
  padding: 170px 50px 100px 50px;
}
header {
  left: 50px;
  right: 50px;
}
.delicious {
  max-width: 100%;
  min-width: 100%;
  padding: 100px 50px;
  box-sizing: border-box;
} 
.footer {
  max-width: 100%;
  min-width: 100%;
  padding: 50px 50px;
  box-sizing: border-box;
}
.footerContainerLeft,
.footerContainerRight {
  width: 40%;
}
.maps {
  max-width: 100%;
  min-width: 100%;
  padding: 100px 50px;
  box-sizing: border-box;
}
.businessModel {
  max-width: 100%;
  min-width: 100%;
  padding: 100px 50px;
  box-sizing: border-box;
}
.reviews {
  max-width: 100%;
  min-width: 100%;
  padding: 100px 0 100px 50px;
  box-sizing: border-box;
  margin: 0;
}
.reviewsContent {
  box-sizing: border-box;
  max-width: 250px;
  min-width: 250px;
  box-sizing: border-box;
}
.reviewsSlider  {
  overflow: hidden;
}
.form {
  max-width: 100%;
  min-width: 100%;
  padding: 100px 0 100px 50px;
  box-sizing: border-box;
}
.package {
  max-width: 100%;
  min-width: 100%;
  padding: 100px 50px;
  margin: 0;
  box-sizing: border-box;
}
.cashInvestments {
  max-width: 100%;
  min-width: 100%;
  padding: 100px 50px;
  margin: 0;
  box-sizing: border-box;
}
.cashInvestmentsLeft {
  width: 100%;
}
.businessModelContainerLeft {
  width: 60%;
}
.fadeContainer {
  max-width: 48%;
  min-width: 48%;
}
.menuSliderContainer {
  min-width: 85%;
  max-width: 85%;
}
.reviewsContainer > img {
  max-width: 65%;
}
.reviewsSlider .slick-prev.slick-arrow{
  left: 35%;
}
.reviewsSlider .slick-next.slick-arrow{
  left: 47%;
}
}
@media (max-width: 1200px) {
.logotype p {
  display: none;
}
.reviewsContainer > img {
  max-width: 70%;
}
.containerContact {
  width: 70%;
}
.packageContainerCenter {
  margin: 16px 0;
}
.box-container {
  right: 7%;
}
.packageFooter {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.packageBtn {
  margin-top: 16px;
  width: 90%;
}
.delicious {
  padding-left: 50px;
  padding-right: 50px;
}
.delicious {
  padding-bottom: 150px;
}
.mobileImg {
  display: block;
  border-radius: 10px;
}
.packageContainerRight img:nth-of-type(2) {
  display: none;
}
.packageContainerLeft img:nth-of-type(2) {
  display: none;
}
.deliciousContainerLeft,
.deliciousContainerRight {
  width: 30%;
  z-index: 1;
}
.mapsRight {
  display: none;
}
.menuSliderContainer {
  min-width: 95%;
  max-width: 95%;
}
.menuContainer {
  padding: 16px;
}
.maps {
  background-position: 450px;
}
.businessModelContainerLeft {
 width: 70%;
}
.fadeContainerText p:nth-of-type(1) {
  font-size: 16px;
}
.packageContainer {
  flex-direction: column;
  padding: 0 50px;
  align-items: center;
}
.fadeContainerText {
  padding: 0 8px;
}
.fadeContainerText ul li {
  font-size: 12px;
  display: flex;
  align-items: center;
}
}
@media (max-width: 992px) {
.banner {
  padding: 150px 50px 123px 50px;
}
.popup {
  width: 500px;
}
.reviewsContainer > img {
  max-width: 70%;
}
.popupForm  {
  width: 100%;
}
.reviewsSlider {
  margin-left: 0;
}
.reviewsSlider .slick-prev.slick-arrow{
  left: 40%;
}
.reviewsSlider .slick-next.slick-arrow{
  left: 50%;
}
.formWrapper form {
  width: 50% !important;
  margin: 0 auto;
}
.packageBtn {
  width: max-content;
  padding: 16px;
}
.bannerContainer {
  max-width: 500px;
}
.cashInvestmentsLeft {
  flex-wrap: wrap;
}
.cashContainer {
  max-width: 45%;
  width: 100%;
}
.form {
  padding: 100px 50px;
}
.form input {
  min-width: 100%;
  max-width: 100%;
}
.headerSocialNetworks {
  display: none;
}
.headerTel {
  display: none;
}
.containerContact {
  width: 50%;
}
.headerBtn {
  margin-right: 0;
}
header {
  left: 50px;
  right: 50px;
}
.benefitsContainer {
  padding: 0 15px;
}
.deliciousContainerCenter {
  position: static;
}
.deliciousContainerWrapper {
  flex-direction: column;
}
.deliciousContainer {
  height: auto;
}
.delicious {
  padding: 100px 50px 100px 50px;
}
.deliciousContainerLeft,
.deliciousContainerRight {
  width: 100%;
}
.deliciousContainer h2 {
  margin-bottom: 100px;
}
.deliciousContainerLeft p,
.deliciousContainerRight p{
  min-height: 150px;
}
.deliciousContainerCenter {
  transform: unset;
}
.maps {
  padding: 100px 50px 100px 50px;
  background-position: 350px;
}
.businessModel {
  padding: 100px 50px;
}
.businessModelTittle {
  width: 100%;
  text-align: center;
}
.businessModelContainer {
  flex-direction: column;
  align-items: center;
}
.businessModelContainerLeft {
  margin-bottom: 16px;
}
footer {
  padding-left: 50px;
  padding-right: 50px;
}
.footerContainerRight {
  width: 50%;
}
.deliciousContainerCenter img{
  max-width: 75%;
}
.deliciousContainerCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
}
@media (max-width: 768px) {
.banner {
  background: url(../img/mobile/Banner.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-blend-mode: luminosity;
  height: auto;
  padding: 68px 16px 500px 16px;
  display: flex;
  align-items: flex-start;
}
.popup {
  padding: 64px 16px 100px 16px;
  width: 80%;
}
.popupContent p:nth-of-type(2) {
  font-size: 16px;
}
.close-popup {
  top: 16px;
  right: 16px;
}
.popupForm input {
  min-width: 100%;
  max-width: 100%;
}
.poppupTittle {
  font-size: 24px;
  margin-bottom: 16px;
}
.bannerContainer {
  max-width: 100%;
  text-align: center;
  align-items: center;
  margin-top: 100px;
}
.btnRequest {
  display: block;
  margin: 0 auto;
}
header {
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  background: #1B1B19;
}
.box-container {
  top: 37px;
  right: 16px;
}
.benefits {
  flex-wrap: wrap;
}
.benefitsContainer {
  width: 50%;
  box-sizing: border-box;
}
.benefitsContainer {
  border-bottom: 1px solid #A1C476;
}
.maps {
  background: #292929;
  height: auto;
  padding: 100px 16px;
  justify-content: center;
  text-align: center;
}
.mapsLeft h3 {
  margin-bottom: 64px;
}
.mapsImg {
  display: flex;
  min-width: 100%;
}
.mapsLeft {
  width: 100%;
  max-width: 100%;
}
.reviewsSlider {
  padding-bottom: 120px !important;
}
.mapsBtn {
  margin:0 auto;
}
.fadeContainer {
  min-width: 45%;
    max-width: 45%;
}
.slick-slide {
  margin: 0 27px;
}
.slick-list {
  margin: 0 -27px;
}

.menuSlider {
  max-width: 100vw;
  overflow: hidden;
}
.menuSlider .slick-list {
  max-width: 100vw !important;
}
.menuSliderContainer {
  max-width: 300px;
  min-height: 200px;
  height: max-content;
}
.deliciousContainer h2 {
  margin-bottom: 30px;
  text-align: center;
}
.deliciousContainerCenter {
  width: 100%;
}
.businessModelContainerLeft {
  width: 100%;
}
.businessModelContainerRight {
  width: 100%;
}
.reviews {
  padding-top: 0;
}
.reviewsSlider {
  max-width: 100%;
  min-width: 100%;
  padding-bottom: 0;
}
.reviewsFooter {
  padding-right: 0;
  max-width: 100%;
  text-align: center;
}
form input {
  min-width: 100%;
  max-width: 100%;
}
.packageContainer {
  padding: 0;
}
.package {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.packageFooter {
  padding: 22px;
}
.cashContainerTop button {
  font-size: 14px;
  z-index: 10;
}
.footerContainerLeft,
.footerContainerRight {
  width: 50%;
}
footer {
  padding: 100px 15px;
  background: #292929;
}
.footerContainer {
  flex-direction: column;
  align-items: center;
}
.footerContainerLeft,
.footerContainerRight {
  width: 70%;
}
.footerForm {
  width: 100% !important;
  margin-right: 0;
  margin-top: 16px !important;
}
.footerBotom {
  padding-left: 16px;
  padding-right: 16px;
  justify-content: space-between;
}
.footerContainerRight {
  margin-top: 64px;
}
.footerContainerRight p {
  margin-bottom: 0;
}
footer {
  max-height: 100%;
}
.reviews {
  padding-left: 0;
}
}
@media (max-width: 576px) {
header {
  height: 60px;
  padding: 0 16px;
  max-width: 100vw;
  box-sizing: border-box;
}
.deliciousContainerCenter img {
  max-width: 100%;
}
.formWrapper form {
  width: 100% !important;
}
.reviewsContent {
  height: 319px;
}
.reviewsContent p {
  font-size: 16px;
}
.reviewsContainer {
  height: auto;
}
.headerBtn {
  padding: 8px;
  height: auto;
}
.banner {
    height: 800px;
    padding-bottom:370px;
}
.businessModel {
  padding-left: 0;
  padding-right: 0;
}
.packageFooter {
  margin-top: 0;
  padding: 100px 16px;
}
.packageFooterContent p:nth-of-type(1) {
  font-size: 16px;
}
.packageFooterContent p:nth-of-type(2) {
  font-size: 16px;
}
.package {
  margin-top: 100px;
}
.packageContainer {
  padding: 0;
}
.packageContainerRight,
.packageContainerLeft {
  min-width: 100%;
}
.packageContainerRight img,
.packageContainerLeft img {
  min-width: 100%;
  max-width: 100%;
  border-radius: 0;
}
.packageCenter {
  width: 50%;
  margin: 0;
}
.packageContainerCenter {
  margin: 0;
}
.packageCenterTop {
  margin-bottom: 0;
}
.benefitsContainer p {
  font-size: 12px;
}
.menuSlider .slick-lists.draggable{
  padding: 0 !important;
}
.deliciousContainerLeft svg, 
.deliciousContainerRight svg {
  display: none;
}
.form {
  padding: 100px 16px;
}
.form input {
  max-width: 100%;
  min-width: 100%;
}
.businessModelTittle h3 {
  font-size: 24px;
}
.businessModelTittle p:nth-of-type(1) {
  font-size: 16px;
}
.businessModelContainerRight {
  width: 100%;
}
footer {
  padding: 100px 16px;
}
.footerContainerLeft,
.footerContainerRight {
  width: 100%;
}
.businessModelTittle {
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}
.businessModelTittle p:nth-of-type(2) {
  font-size: 16px;
}
.menuSliderContainer img {
  max-width: 100%;
  min-width: 100%;
  border-radius: 10px 10px 0 0;
}
.menuSliderContainer {
  max-width: 223px !important;
  min-width: 223px !important;
}
.cashContainer {
  max-width: 223px !important;
  min-width: 223px !important;
  min-height: 250px;
  height: 100%;
}
.reviews {
  padding: 100px 0;
}
.reviewsContainer {
  max-width: 223px;
  min-width: 223px;
  width: 223px;
}
.cashInvestmentsContainer {
  overflow: hidden;
}
.cashInvestmentsRight p {
  font-size: 32px;
}
.cashInvestmentsRight button {
  padding: 18px 10px;
}
.menuSliderContainer.slick-slide {
  margin: 0 8px !important;
}
.menuSlider .slick-list{
  padding: 0 !important;
  margin: 0 !important;
}
.reviewsSlider.slick-slide {
  margin: 0 8px !important;
}
.reviewsContainer {
  padding-bottom: 0 !important;
}
.businessModelTittle {
  padding: 0;
}
.package {
  margin-top: 0;
}
.package .businessModelTittle {
  padding-left: 16px;
  padding-right: 16px;
}
.packageCenterTop svg, .packageCenterBottom svg {
  min-height: 100px;
}
.packageCenterTop p, .packageCenterBottom p {
  font-size: 10px;
}
form input {
  margin-bottom: 8px;
}
.reviewsSlider .slick-list{
  padding: 0 !important;
  margin: 0 !important;
}
.menuContainer {
  padding: 20px 8px 60px 8px;
  text-align: center;
  align-items: center;
}
.reviewsContainer  > img {
  display: none;
}
.packageFooterContent p:nth-of-type(1) {
  margin-bottom: 8px;
}
.cashInvestments .businessModelTittle {
  margin-bottom: 64px;
}
.cashInvestmentsLeft .slick-slide {
  margin: 0 10px !important;
}
.packageFooter {
  border-radius: 0;
}
.packageBtn {
  margin-top: 32px;
  width: 100%;
}
.businessModelTittle {
  padding: 0 16px;
}
.cashInvestments .businessModelTittle {
  padding-left: 16px;
  padding-right: 16px;
}
.reviews {
  padding-top: 0;
}
.cashInvestments {
  padding-bottom: 0 !important;
}
form {
  width: 100% !important;
  box-sizing: border-box;
}
form input {
  box-sizing: border-box;
}
.packageCenterTop, .packageCenterBottom {
  border-radius: 0;
  box-shadow: none;
}
.submit {
  min-width: 100%;
  max-width: 100%;
}
.reviewsContent {
  background: rgba(66, 66, 66, 0.95);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}
.menuSliderContainer {
  min-height: 437px;
  max-height: 437px;
  box-sizing: border-box;
}
.menuContainer p:nth-of-type(1) {
  margin: 0 auto 24px auto;
}
.menuContainer h5 {
  font-size: 16px;
  margin-bottom: 16px;
}
.fade .slick-slide {
  margin: 0 8px;
}
.fadeContainerText {
  padding: 0 8px;
}
.fadeContainerText p:nth-of-type(1) {
  font-size: 16px;
}
.fadeContainerText p:nth-of-type(2) {
  font-size: 13px;
}
h6 {
  font-size: 16px;
}
.businessModelContainer {
  margin-top: 100px;
}
.businessModelContainerLeft h3 {
  font-size: 24px;
}
.menuContainer p:nth-of-type(2) {
  font-size: 16px;
}
.fade {
  max-width: 100vw;
  overflow: hidden;
  height: 600px;
}
.businessModelContainerRight {
  margin-top: 40px;
}
.menuSliderContainer {
  border-radius: 30px;
}
.menuSliderContainer img {
  border-radius: 30px 30px 0 0 !important;
}
.fadeContainer {
  min-width: 223px;
  max-width: 223px;
}
.fadeContainer {
  min-height: 580px;
}
.menuSlider .slick-list .slick-track {
  min-height: 500px;
  padding-top: 30px;
}
.businessModel {
  padding-bottom: 0 !important;
}
.businessModelContainerRight h3 {
  font-size: 24px;
}
.menuSlider {
  max-width: 100vw;
  overflow: hidden;
}
.menuSliderContainer {
  min-width: 10%;
  max-width: 10%;
}
h1 {
  font-size: 32px;
}
h1 span {
  font-size: 16px;
}
.bannerContainer p {
  font-size: 16px;
}
.bannerContainer p b {
  display: block;
}
.btnRequest {
  padding: 19px 16px;
}
.headerBtn svg {
  margin-right: 0;
}
.containerContact {
  justify-content: flex-end;
}
.headerBtn {
  margin-right: 30px;
  font-size: 0;
}
.benefitsContainer {
  padding-top: 37px;
  padding-bottom: 19px;
  height: max-content;
}
.benefitsContainer p {
  min-height: auto;
}
.deliciousContainerCenter {
  min-width: 100%;
}
.deliciousContainer h2 {
  font-size: 24px;
  margin-bottom: 64px;
}
.deliciousContainer h2 span {
  font-size: 24px;
  display: block;
  text-align: center;
}
.deliciousContainerLeft p,
.deliciousContainerRight p {
  text-align: left;
  font-size: 16px;
}
.deliciousContainerLeft p span,
.deliciousContainerRight p span {
  font-size: 16px;
}
.delicious {
  padding: 100px 16px;
}
.mapsLeft p {
  text-align: left;
}
.mapsBtn {
  width: 100%;
  justify-content: center;
}
.maps {
  overflow: hidden;
}
.mapsImg {
  max-width: 100%;
  min-width: 120%;
  margin-left: -40px;
  overflow: hidden;
}
.businessModel .businessModelTittle p:nth-of-type(2) {
  margin-top: 64px;
}
.businessModelTittle {
  margin-bottom: 0;
}
.fadeContainer {
  border-radius: 30px !important;
}
.fadeContainerImg {
  border-radius: 30px 30px 0 0 !important;
}
.reviews {
  margin-top: 0;
}
.reviewsFooter {
  display: none;
}
.reviewsSlider {
  margin-bottom: 0;
  padding-bottom: 0;
  max-height: 400px;
}
.reviewsContainer {
  padding-bottom: 50px;
}
.box-container {
  top: 23px;
  right: 16px;
}
.logotype img{
  max-width: 80%;
}
.bannerContainer {
  margin-top: 70px;
}
.btnRequest {
  padding: 18px 16px;
  display: flex
}
.benefitsContainer {
  padding: 32px 16px;
  min-height: 225px;
}
.deliciousContainer {
  padding: 0;
}
.mapsBtn {
  padding: 16px;
}
.deliciousContainer h2  {
  width: 100%;
}
.mapsLeft h3 {
  font-size: 24px;
}
.mapsLeft p {
  font-size: 16px;
}
.cashInvestments {
  padding: 100px 0 100px 0;
}
.fade .slick-list {
  padding-top: 10px !important;
}
.fadeContainerText ul li {
  font-size: 14px;
}
}
@media (max-width: 320px) {
  .headerBtn {
    display: none;
  }
  .box-container {
    top: 26px;
  }
}